# Pandas
 Pandas is a Python package used to wrangle and analyze tabular data.

In [13]:
import pandas as pd
import numpy as np

## pandas.Series 
  A series is a one dimensional array of indexed data. 
  A `NumPy` array does not have an index as part of the data structure.
  A `pandas` array has an index as part of the data structure.
  
  `pandas.Series` are the columns of the `pandas.DataFrame`.

In [14]:
# A numpy array
arr = np.random.randn(4) # random values from std normal distribution
print(type(arr))
print(arr, "\n")

# A pandas series made from the previous array
s = pd.Series(arr)
print(type(s))
print(s)

<class 'numpy.ndarray'>
[-0.55131458  1.44569005 -1.31689411 -0.87549944]

<class 'pandas.core.series.Series'>
0   -0.551315
1    1.445690
2   -1.316894
3   -0.875499
dtype: float64

## Creating a pandas.Series

`s = pd.Series(data, index=index)`

The `data` parameter can be:
1. a `NumPy` array
2. a Python dictionary
3. a number, boolean, or string

The`index` parameter is not necessary but if included should be the same length as the data. If an index is not provided the default is 0 to len(data)-1.

#### Creating a pandas.Series from a numpy array

In [31]:
# A series from a numpy array 
pd.Series(np.arange(3), index=[2023, 2024, 2025])

2023    0
2024    1
2025    2
dtype: int64

In [28]:
nump_series

2023    0
2024    1
2025    2
dtype: int64

#### Creating a pandas.Series from a list

In [32]:
# A series from a list of strings with default index
pd.Series(['EDS 220', 'EDS 222', 'EDS 223', 'EDS 242'])

0    EDS 220
1    EDS 222
2    EDS 223
3    EDS 242
dtype: object

#### Creating a pandas.Series from a dictionary

In [33]:
# Construct dictionary
d = {'key_0':2, 'key_1':'3', 'key_2':5}

# Initialize series using a dictionary
pd.Series(d)

key_0    2
key_1    3
key_2    5
dtype: object

#### Creating a panda.Series from a single value

We have to provide an index and the length of the list will be the length of the index.

In [35]:
pd.Series(3.0, index = ['A', 'B', 'C'])

A    3.0
B    3.0
C    3.0
dtype: float64

## Basic arithmatic on series

Note: `'\n'` is adding space between the outputs improving readability.

In [50]:
# Define a series
s = pd.Series([98,73,65],index=['Andrea', 'Beth', 'Carolina'])

# Divide each element in series by 10
print(s /10, '\n')

# Take the exponential of each element in series
print(np.exp(s), '\n')

# Analyze whether the series values are greater than 70 in a boolean
print(s > 70, '\n')

# Original series is unchanged
print(s)

Andrea      9.8
Beth        7.3
Carolina    6.5
dtype: float64

Andrea      3.637971e+42
Beth        5.052394e+31
Carolina    1.694889e+28
dtype: float64

Andrea       True
Beth         True
Carolina    False
dtype: bool

Andrea      98
Beth        73
Carolina    65
dtype: int64

## Identifying missing values 

We can represent missing values in a float value `numpy.nan` (`np.nan`) which stands for "not a number".

In [51]:
# Series with NAs in it
s = pd.Series([1, 2, np.nan, 4, np.nan])
s

0    1.0
1    2.0
2    NaN
3    4.0
4    NaN
dtype: float64

The hasnans attribute is `True` if the series contains NAs and `False` otherwise.

In [52]:
# Check if series has NAs
s.hasnans

True

In [54]:
# Identifies which values contain NAs with boolean output
s.isna()

0    False
1    False
2     True
3    False
4     True
dtype: bool

# pandas.DataFrame

Each column of a `pandas.DataFrame` is a `pandas.Series`. And a `pandas.DataFrame` is a dictionary of `pandas.Series` where each column name is the key and the column values are the key's values.

In [55]:
# Initialize dictionary with columns' data 
d = {'col_name_1' : pd.Series(np.arange(3)),
     'col_name_2' : pd.Series([3.1, 3.2, 3.3]),
     }

# Create data frame
df = pd.DataFrame(d)
df

   col_name_1  col_name_2
0           0         3.1
1           1         3.2
2           2         3.3

In [58]:
# Change index
df.index = ['a','b','c']
df

   col_name_1  col_name_2
a           0         3.1
b           1         3.2
c           2         3.3

In [61]:
# Changing column names
df.columns = ['C1', 'C2']
df

   C1   C2
a   0  3.1
b   1  3.2
c   2  3.3